# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [1]:
word = 'python'
print(word[-1] + word[-2] + word[-3] + word[-4] + word[-5] + word[-6])

# or in a more elegant way

print(word[::-1])

nohtyp
nohtyp

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [2]:
apples = 7
oranges = 5
print('I have {} apples and {} oranges, therefore I have {} fruits.'.format(apples, oranges, apples + oranges))

I have 7 apples and 5 oranges, therefore I have 12 fruits.

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [3]:
list01 = ['a', 'b', 'c', 'd']
del list01[3]
str01 = ''.join(list01)
print(str01)

abc

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [4]:
list01 = [1, 2, 3, 4, 8, 12]
list02 = [1, 4, 8, 2]
print(set(list01).difference(list02))

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [5]:
tuple_numbers = (4, 6, 2, 8, 3, 1)
tuple_add = (5, )
tuple_numeros = tuple_numbers + tuple_add
del tuple_numbers
tuple_numbers = tuple_numeros
del tuple_numeros
print(tuple_numbers)

(4, 6, 2, 8, 3, 1, 5)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [13]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = ''
for x in input_tuple:
    output_string = output_string + x
print(output_string)

# or simply using .join()

print(''.join(input_tuple))

python
python

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [14]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names1.update(names2)
print(names1)

# or using unwrap

names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
dict(**names1, **names2)

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [15]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
s = 0
for x in ice_cream_price:
    s = s + ice_cream_price.get(x)
print(s)

# or manually

s = ice_cream_price.get('Chocolate') + ice_cream_price.get('Strawberry')+ ice_cream_price.get('Vanilla') + ice_cream_price.get('Caramel')
print(s)

# or using function sum

sum(ice_cream_price.values())

743
743

743

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [9]:
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
set_numbers.pop()
set_letters.pop()
print(set_numbers)
print(set_letters)

{2, 3, 4, 5}
{'y', 'h', 'p', 't', 'n'}

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [10]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
color_word = [color[0][0], color[1][0], color[2][0]]
color_hex = [color[0][1], color[1][1], color[2][1]]
color_rgb = [color[0][2], color[1][2], color[2][2]]
print(color_word)
print(color_hex)
print(color_rgb)

['Black', 'Red', 'Yellow']
['#000000', '#FF0000', '#FFFF00']
['rgb(0, 0, 0)', 'rgb(255, 0, 0)', 'rgb(255, 255, 0)']

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [20]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
print(set_a.intersection(set_b))
print(set_b.intersection(set_a))
print(set_a == set_b)
print(set_a > set_b)
print(set_a < set_b)

{'Chocolate', 'Vanilla', 'Caramel', 'Strawberry'}
{'Chocolate', 'Vanilla', 'Caramel', 'Strawberry'}
True
False
False